/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 1em;
    background-color: #f0f0f0;
    color: #333; 
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Asegura que el body tome toda la altura */
}

/* Headers */
h2 {
    font-size: 2em;
    text-align: center;
    margin-top: 20px;
}

h3 {
    font-size: 1em;
    color: #004080; 
}

p, ul {
    margin-left: 10%;
    margin-right: 10%;
    color: #333;
}

/* Footer Styles */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #f0f0f0; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}

footer p, .icon {
    font-size: 1.2em;
    text-align: center;
    margin-left: 1%;
    color: #f0f0f0;
}

table {
    width: 100%; 
    border-collapse: collapse;
    margin-top: 0.1em;
}

th, td {
    border: 1px solid #ddd;
    padding: 1em;
    text-align: left;
    box-sizing: border-box; /* Asegura que el padding no afecte el tamaño */
}

th {
    background-color: #4a4a4a;
    color: #f0f0f0;
}

td {
    width: 100%;
}
.tarjeta-section {
    width: 100%; 
    margin-bottom: 1em;
    overflow: auto; /* Para asegurar que el contenido se ajuste si es necesario */
}

.tarjeta-table {
    display: none; /* Oculto por defecto */
    margin-top: 10px;
    width: 100%; 
    transition: all 0.3s ease-in-out; /* Transición suave para la visualización */
}

/* Navbar Styles */
.navbar {
    background-color: #4a4a4a; 
    display: flex;
    align-items: center;
    color: #f0f0f0; 
}

/* Links en el navbar */
.nav-logo a {
    color: #f0f0f0; 
    font-size: 1rem; 
    text-decoration: none; /* Quitar subrayado de los enlaces */
    margin: 0 10px; 
}

.nav-logo a:hover {
    color: #b3cde0;
}

/* Título en el Navbar */
.nav-h2  {
    color: #f0f0f0; 
    text-align: center;
}

/* Ícono del Navbar */
.nav-logo .navbar-brand {
    font-size: 2em; 
    color: #f0f0f0; 
}

.navbar-dark .navbar-brand:hover {
    color: #b3cde0; 
}

/* Centra el formulario en la página */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30em; /* Ajusta la altura según sea necesario */
    margin-top: 2rem;
}

form {
    background-color: #ffffff; /* Fondo blanco para el formulario */
    padding: 1rem; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    width: 100%;
    max-width: 30em; /* Ancho máximo del formulario */
}

.form-group {
    margin-bottom: 1rem;
}

label {
    display: block;
    font-size: 1rem;
    margin-bottom: 0.5rem; 
}

input {
    width: 100%;
    padding: 0.5rem; 
    font-size: 1rem; 
    border: 1px solid #ccc; /* Borde gris claro */
    border-radius: 4px; 
    box-sizing: border-box;
}

button {
    background-color: #007bff;
    color: #ffffff; 
    border: none;
    padding: 0.75rem 1.5rem; 
    font-size: 1rem; 
    border-radius: 4px; 
    cursor: pointer;
    transition: background-color 0.3s; /* Transición suave para el color de fondo */
}

button:hover {
    background-color: #0056b3;
}

/* Oculta los controles de incremento/decremento en los campos numéricos */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.add-button{
    margin-left: 11em;}

input[type="number"] {
    -moz-appearance: textfield; /* Para Firefox */
}

/* Estilo para el saldo pendiente */
.saldo-pendiente {
    font-size: 2rem; 
    color: #ff5733; 
    font-weight: bold; 
    text-align: center; 
    margin-top: 1rem; 
    margin-bottom: 1rem; 
    padding: 1rem; 
    border: 2px solid #ff5733; 
    border-radius: 8px; 
    background-color: #f7f7f7; 
}

.subtotal {
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    background-color: #4a4a4a;
    color: #f0f0f0;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.subtotal:hover {
    background-color: #5a5a5a;
}
