<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/b27b674285.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" type="text/css">
    <title>Controlador de Tarjetas</title>
</head>
<body>
    <nav class="navbar navbar-dark">
        <h2 class='nav-h2'>Controlador de Tarjetas de Crédito |</h2>
        <div class="nav-logo">
            <a class="navbar-brand" href="/">
                <i class="fa fa-home"></i> 
            </a>
        </div>
        <div class="nav-logo">
            <a href="/filtrar_tarjeta">Filtrar por Tarjeta</a>
        </div>
        <div class="nav-logo">
            <a href="/add">Agregar Compra</a>
        </div>
        <div>
            <a href="/pagar_cuotas" class="btn btn-primary">Pagar Cuota</a>
        </div>
        <div>
            <!-- Botón para vaciar la base de datos con confirmación -->
            <form action="/clean_db" method="post" style="display: inline;">
                <button type="submit" class="btn btn-danger" onclick="return confirm('¿Estás seguro de que deseas vaciar la base de datos? Esta acción no se puede deshacer.');">
                    Vaciar Base
                </button>
            </form>
        </div>
    </nav>


