{% include 'header.html' %}

<h2 class="saldo-pendiente">Saldo de este Mes:{{saldo_mensual}}</h2>
<h2>Lista de Compras</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Tarjeta</th>
                <th>Compra</th>
                <th>Total</th>
                <th>Cuotas</th>
                <th>Pendientes</th>
                <th>Monto Cuota</th>
                <th>Saldo</th>
            </tr>
        </thead>
        <tbody>
            {% for compra in compras %}
            <tr>
                <td>{{ compra.tarjeta }}</td>
                <td>{{ compra.compra }}</td>
                <td>{{ compra.total }}</td>
                <td>{{ compra.cuotas }}</td>
                <td>{{ compra.pendientes }}</td>
                <td>{{ compra.monto_cuota }}</td>
                <td>{{ compra.saldo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

<h2 class="saldo-pendiente">Saldo Pendiente:{{saldo_total}}</h2>
{% include 'footer.html' %}